@tailwind base;

@tailwind utilities;

@layer base {
  body {
    @apply bg-black p-0 m-0;
  }
  main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@tailwind components;

@layer components {
  .home-bg {
    background-image: url("/public/bg-home.jpg");
  }

  .impressum-bg {
    background-image: url("/public/bg-impressum.jpg");
  }

  .bg-setup {
    @apply bg-fixed bg-center bg-cover h-screen pt-32;
    @apply w-full flex flex-col items-center justify-start;
  }
}
