@tailwind base;

@tailwind utilities;

@layer base {
  body {
    @apply bg-black p-0 m-0;
  }

  main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  h1 {
    font-family: "Dancing Script", "sans-serif", "roboto";
    @apply text-6xl font-extrabold text-d text-center;
  }

  h3 {
    @apply text-4xl text-center text-d;
  }

  h4 {
    @apply text-slate-100 text-3xl;
  }

  h5 {
    @apply text-slate-100 text-2xl;
  }

  h6 {
    @apply text-slate-100 text-xl;
  }

  p {
    @apply text-slate-100;
  }
}

@tailwind components;

@layer components {
  .home-bg {
    background-image: url("/public/bg-home.jpg");
  }

  .impressum-bg {
    background-image: url("/public/bg-impressum.jpg");
  }

  .bg-setup {
    @apply bg-fixed bg-center bg-cover py-40 md:py-48 lg:py-60
    w-full flex flex-col items-center justify-start gap-6 md:gap-12;
  }

  [type="text"],
  [type="email"],
  textarea {
    @apply w-full resize-none h-14 rounded-lg border-2 border-d
    focus:border-black focus:ring-black px-1
    shadow-sm placeholder-transparent text-d;
  }

  label {
    @apply font-normal absolute z-10 left-2 -top-3  text-xs rounded-full py-1 px-2 bg-white
    peer-placeholder-shown:text-base peer-placeholder-shown:top-3.5 peer-placeholder-shown:bg-transparent
    transition-all peer-focus:-top-3 peer-focus:text-xs peer-focus:bg-white text-d;
  }

  .card-setup {
    @apply flex flex-col min-w-[320px] 
    items-center px-4 md:px-12 rounded-xl shadow-lg bg-b/95;
  }

  .text-setup {
    @apply flex flex-col items-center justify-center gap-2;
  }

  .image-grid {
    @apply grid grid-cols-12 gap-4;
  }

  .gap-form {
    @apply gap-4 md:gap-6 lg:gap-8;
  }

  .gap-image {
    @apply gap-4 md:gap-6 lg:gap-8;
  }

  .py-form {
    @apply py-4 md:py-8 lg:py-10;
  }

  .text-err {
    @apply text-red-400;
  }

  .text-light {
    @apply text-slate-100;
  }

  .text-dark {
    @apply text-d;
  }

  .status-msg {
    @apply py-6 my-8 text-center text-2xl;
  }

  .pagination-item {
    @apply px-3 h-8 text-center mx-auto my-1;

    margin: auto 4px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    border-radius: 16px;
    line-height: 1.43;
    font-size: 13px;
    min-width: 32px;
  }
}

/**/
